h2{
    color:bisque;
}

body{
    font-style:italic;
    font-family:Arial, "Comic Sans", Calibri;
    font-weight:lighter;
    color:bisque;
    background-color:black;
    text-align:center;
}

h1{
    
    font-style: italic; 
    text-align: center;
    color:blue; 
    background-color: black;
}